.card-header-option{
    display: flex; 
    gap: 5%; 
    margin: 2% -2%;
}

span{
    margin-top: 1.5%;
    color: #6c757d;
}

.icon-trash-can{
    color: red;
}

.icon-pen-to-square{
    color: blue;
}