.container-control-device {
    max-width: 82rem;

}

.container-control-device-card {
    height: 32rem;
    background: #fff;
    overflow: scroll;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}