<c-toaster [placement]="position" class="p-3" position="fixed">
    <c-toast
      (timer)="onTimerChange($event)"
      (visibleChange)="onVisibleChange($event)"
      [visible]="alert.visible"
      [color]="alert.color">
      <c-toast-header [closeButton]="closeButton">
        <strong>{{alert.title}}</strong>
      </c-toast-header>
      <c-toast-body #toastBody [cToastClose]="toastBody.toast">
        <p class="mb-1">{{alert.content}}</p>
        <ng-content></ng-content>
        <c-progress thin>
          <c-progress-bar [value]="25*(toastBody.toast?.clock ?? 1)"></c-progress-bar>
        </c-progress>
      </c-toast-body>
    </c-toast>
</c-toaster>